body {
  color: blue;
  font-family: Arial, Sans-Serif;
  font-size: 12pt;
}

h1 {
  font-weight: 96;
}

h2 {
  font-weight: 72;
}

#container {
  height: 100%;
  width: 80%;
  text-align: center;
}

#sandbox {
  display: inline-block;
  width: 60%;
  text-align: center;
  border: 5px solid brown;
  padding: 10px solid pink;
}

#dSource,
#dDest {
  /* argh I know how to fix this ... */
  display: inline-block;
  margin: 4px;
  border: 2px solid purple;
  padding: 2px;
  padding-bottom: 10px;
  width: 40%;
  height: 300px;
}

.draggableCSS {
  width: 200px;
  height: 20px;
  padding: 0.5em;
}

.hidden {
  display: none;
}
.underline {
  text-decoration: underline;
}
.bold {
  font-weight: bold;
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
